/* Font */
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;700;800&display=swap');

/* Variables */
:root {
  --primario: #174D4D;
  --primarioOscuro: #03363D;
  --blanco: #FFF;
  --gris: #F4F4F4;
  --grisOscuro: #333;
  --negro: #000000;

  --fuentePrincipal: 'Sora', sans-serif;
}

/* Globals */
html { /* Box Model */
  font-size: 62.5%;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  font-family: var(--fuentePrincipal);
}
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3.6rem;
}
img {
  max-width: 100%;
  display: block;
}
[class$="container"] {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}

/* Header / NavBar*/
.header {
  background-color: var(--primario);
}
.header__display {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  color: var(--blanco);
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.header__link {
  background-color: var(--primarioOscuro);
  color: var(--blanco);
  padding: 1rem;
  text-decoration: none;
  border-radius: .5rem;
}


/* Headings */
.heading {
  text-align: center;
}

.categoria {
  color: var(--primario);
  margin: 1rem 0;
}


/* Platillos */
.listaPlatillos {
  margin: 0;
  padding: 0;
}
.platillo {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.actions {
  display: flex;
  gap: 1rem;
}
p span {
  font-weight: 700;
}

/* Platillos buttons */
.button {
  background-color: var(--primario);
  color: var(--blanco);
  padding: .7rem 1.8rem;
  cursor: pointer;
  border: none;
  border-radius: .5rem;
}
.button:hover {
  background-color: var(--primarioOscuro);
  transition: .3s;
}